@{
    ViewBag.Title = "L3OPARD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #000000
    }

        a:hover {
            color: #808080
        }

    .card {
        position: relative;
        overflow: hidden;
    }

        .card img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Đặt tối đa chiều rộng */
            display: block; /* Loại bỏ khoảng trắng dưới hình ảnh */
            margin: 0 auto; /* Căn giữa hình ảnh trong thẻ card */
        }
</style>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">L3OPARD</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Chào mừng đến với Homestay của chúng tôi</h1>
                        <a href="@Url.Action("Index","DatPhong")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Phòng</a>
                        <a href="@Url.Action("Index","DatPhong")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Đặt phòng</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">L3OPARD</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Chào mừng đến với Homestay của chúng tôi</h1>
                        <a href="@Url.Action("Index","DatPhong")" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Xem Phòng</a>
                        <a href="@Url.Action("Index","DatPhong")" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Đặt phòng</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            @using (Html.BeginForm("TimKiemPhong", "Home", FormMethod.Post, new { id = "searchForm" }))
            {
                <div class="row g-2">
                    <div class="col-md-3">
                        @Html.DropDownList("loaiPhong", ViewBag.LoaiPhong as SelectList, "Chọn loại phòng", new { @class = "form-select" })
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" name="giaTien" placeholder="Giá tiền" />
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" name="soNguoi" placeholder="Số người ở" />
                    </div>
                    <div class="col-md-3">
                        <button type="submit" onclick="validateForm()" class="btn btn-primary w-100">Tìm kiếm</button>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Booking End -->




<div class="container mt-4">
    <h2>Các Phòng</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var pv in ViewBag.Tasks)
        {
            <div class="col">
                <div class="card phong p-3">
                    <a href="@Url.Action("CTPhong", "Datphong", new { ma = pv.MAPHONG })">
                        <img src="~/img/img/@(pv.MAPHONG).jpg" />
                    </a>
                    <span>Tên phòng: @pv.TENPHONG</span><br />
                    <label>Loại Phòng: @(pv.LOAIPHONG != null ? pv.LOAIPHONG.TENLOAI : "Không có")</label><br />
                    <span class="gia-thue">Số người ở: @pv.SOLUONGNGUOIO Người </span><br />
                    <span>Trạng thái: @pv.TRANGTHAI</span><br />
                    <span>Giá: @String.Format("{0:0,0 VNĐ/người}", pv.LOAIPHONG.GIAPH)</span><br />

                    @if (pv.TRANGTHAI == "Đã thuê")
                    {
                        <button class="btn btn-dat-phong" disabled>ĐẶT PHÒNG</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-dat-phong" onclick="location.href = '/DatPhong/DatPhongKH/@pv.MAPHONG'">ĐẶT PHÒNG</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script>
    function validateForm() {
        var loaiPhong = document.getElementById("loaiPhong").value;
        var giaTien = document.getElementById("giaTien").value;
        var soNguoi = document.getElementById("soNguoi").value;

        if (loaiPhong !== "" || giaTien !== "" || soNguoi !== "") {
            document.getElementById("searchForm").submit();
        } else {
            alert("Vui lòng nhập ít nhất một trường tìm kiếm!");
        }
    }
</script>
